* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Chakra Petch", sans-serif;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 216px;
}

.loading-title {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.3333333;
  font-weight: 400;
  text-align: center;
  animation-name: flicker;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.progress-bar {
  position: relative;
  width: 300px;
  height: 12px;
  background-color: #e5eaef;
  border-radius: 100px;
  /* 범위를 넘어가면 안보이게 함 */
  overflow: hidden;
}

.progress-bar-gauge {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 12px;
  background-color: #13ce66;
  border-radius: 100px;
  animation-name: loading-bar;
  animation-duration: 2000ms;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes loading-bar {
  0% {
    width: 0;
    opacity: 1;
  }
  90% {
    width: 100%;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 0;
  }
}
