* {
  /* 보더까지 포함 */
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #273444;
}
/* float사용시 부모요소에 세팅해주기  clear사용위해 block으로 */

.user-card {
  width: 240px;
  padding: 8px 12px;
  border: 1px solid #e5eaef;
  border-radius: 4px;
}
.user-card::after {
  content: "";
  display: block;
  /* float left 있을때 영향받지 않게 해줌 */
  clear: left;
}
.user-photo,
.user-name {
  float: left;
}

.user-photo {
  /* 자식요소에 position absolute쓰려면 부모요소가 position relative */
  position: relative;
  margin-right: 12px;
}

.user-name {
  padding: 8px 0px;
}

.user-photo img {
  /* img태그는 inline 속성이지만 width,height 지정 가능, 하지만 block으로 지정해주기 */
  display: block;
  width: 40px;
  height: 40px;
  /* 완전히 동그란 모양으로 */
  border-radius: 50%;
}

.user-status {
  position: absolute;
  /* 오른쪽 모서리를 기준으로 위치 떨어짐 */
  right: -2px;
  bottom: -2px;

  /* display: block; 포지션 absolute주면 자동으로 block이 됨 */
  /* 보더를 포함한 가로, 세로 */
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: #21d891;
}
